.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    row-gap: 10px; 
    column-gap: 20px;
}
.NavBar {
    width: 100vw;;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}
.grid-container img{
    width: 650px;
      height: 500px;
      object-fit: cover;
      border-radius: 10px;
}

.grid-main{
    padding-bottom: 130px;
    text-align: center;
    font-family: Arial, sans-serif; 
    background: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
}
