body {
    background-color: #e4d9d9;
    margin: 0; 
    font-family: Arial, sans-serif; 
}

.profile-page {
    
    color: #333; 
    padding: 40px; 
    border-radius: 12px;
    max-width: 600px;
    margin: 40px auto; 
    text-align: center; 
     
}



.profile-page h1 {
    font-size: 2.5rem;
    margin-bottom: 20px; 
    color: #C0AF84; 
}

.profile-page p {
    font-size: 1.3rem; 
    margin: 15px 0; 
}

.profile-page strong {
    color: #C0AF84; 
    font-weight: bold; 
}

.profile-page .error {
    color: red;
    font-size: 1.2rem; 
    margin-top: 20px; 
}
.user-info {
    color: #C0AF84; 
    font-weight: bold;
    font-size: 32px;
}
.user-img{
    width: 100px;
}

.profile-page button {
    background-color: #C0AF84;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin: 10px; 
}

.profile-page button:hover {
    background-color: #a08970;
}

.button-container {
    display: flex; 
    justify-content: space-between; 
    margin-top: 20px;
}

.loading-message {
    color: #555;
    font-size: 1.2em;
    margin-top: 20px;
}

